@{
    ViewData["Title"] = "Resume";
}

<html>
<head>
	<title>Austin's Resume</title>
</head>
<body>
	<div class="flex-container">
		<div>
		<h1>Austin Chaszar</h1>
		<p>
			<b>
				Email: <a href="mailto:fakeemail@gmail.com" style="color:white">~My Email~</a>   |   Cell: ~My Cell~   |
				Address: ~My Address~
			</b>
		</p>
		<img src="~/css/me.JPG" alt="me" width="200" height="250" usemap="#me" style="border: solid; border-color: white;"/>
		<map name="me">
				<area shape="rect" coords="0, 0, 200, 250" value="My Linkedin" onclick="openLinkedin()" target="_blank" style="cursor: pointer"; />
		</map>
		<br />
		<br />
		<p>
			<input type="button" value="My Github" onclick="openGithub()" />          |
			<input type="button" value="My Linkedin" onclick="openLinkedin()" />
		</p>
		<p><i>Clicking on my picture also opens up my Linkedin profile</i></p>
		</div>
	</div>

	<section>
		<div class="smallflex-container">
		<div class="flex-item-left">
			<h3>Skills:</h3>
			<h5>Languages -</h5>
			<p>C#, SQL (SQL Server), HTML, CSS, JavaScript</p>
			<h5>Technologies</h5>
			<p>OOP, .NET, ASP.NET MVC, Unit Testing, Entity Framework</p>
			<h5>Software and Systems</h5>
			<p>Visual Studio, Microsoft SQL Server, Git, GitHub</p>
		</div>
		<div class="flex-item-center">
			<h3>Experience:</h3>
			<h5>Full-Stack Software Developer ~ <i>Jun 2022 - Present</i></h5>
			<h6><i>Elite Devz / Internship / Remote</i></h6>
			<p>
				<ul>
					<li>
						Worked on an Internal Web Based Application that was for a Crawler project. The
						Crawler was designed to crawl any set of websites and was extremely configurable.
					</li>
					<li>
						Stack Utilized: C#, .NET5, ASP.NET, MVC and Web API’s, SQL Server, HTML, CSS,
						JavaScript.
					</li>
				</ul>
			</p>
			<h5>Instructional Assistant III ~ <i>Sept 2022 - Present</i></h5>
			<h6><i>Prince Street Elementry</i></h6>
			<p>
				<ul>
					<li>
						Assist teachers with daily lesson plans, help scholars with their class work, and
						assist with before and after school scholar arrival and departure.
					</li>
				</ul>
			</p>
				
		</div>
		<div class="flex-item-right">
				
			<h3>Education:</h3>
			<h5>The Programmer Coach ~ <i>Jun 2023 - Feb 2023</i></h5>
			<p>

			</p>
			<h5>Arkansas State University ~ <i>Jan 2019 - Dec 2019</i></h5>
			<p>Masters in Sport Administration</p>
			<h5>Keystone College ~ <i>Aug 2014 - May 2018</i></h5>
			<p>Bachelors in Sports Recreation & management</p>
			<p>Minor in Business</br>Minor in Management</p>
				
	</div>
		</div>
		</section>	
</body>
</html>