html {
  font-size: 14px;
  border: solid;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}

footer {
    text-align: center;
}

div.entirePage {
    color: white;
}

h1 {
    font-size: 50px;
}

div.header {
    margin: 20px;
    text-align: center;
    background-color: orange;
    padding: 30px;
    border-style: solid;
    border-color: black;
}

div.education {
    float: left;
    width: 33%;
    background-color: dodgerblue;
    padding: 20px;
    border: solid;
    margin-left: 5px;
}

div.experience {
    float: left;
    text-align: left;
    background-color: hotpink;
    width: 33%;
    padding: 20px;
    border: solid;
    margin-left: 5px;
}

div.skills {
    float: left;
    background-color: yellowgreen;
    width: 33%;
    padding: 20px;
    border: solid;
}

section::after {
    content: "";
    display: table;
    clear: both;
    padding: 5px;
}