@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="~/Resume/Index">My Resume</a></p>
    <p><a href="~/SportsRosterModels">Baseball Roster</a></p>
</div>
