@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="~/Resume/Index" style="color:white">My Resume</a></p>
    <p><a href="~/SportsRosterModels/Index" style="color:white">Baseball Roster (MVC)</a></p>
    <p><a href="~/PasswordGenerator/Index" style="color:white">Password Generator</a></p>
    <p><a href="~/TicTacToe/Index" style="color:white">Tic-Tac-Toe Game</a></p>
</div>
